<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head1.ejs") %>
  <style>body{
    background-color: gold}
.animal_info{
border-radius: 30px;
color:white;
-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}
    .species{
        border-radius: 30px;
     color:white;
     background-color: red;
     -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
 -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
 box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    }
    .location{
        border-radius: 30px;
     color:white;
     background-color: red;
     -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
 -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
 box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    }
    .le{
        border-radius: 30px;
     color:white;
     background-color: red;
     -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
 -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
 box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    }
    .extinct{
        border-radius: 30px;
     color:white;
     background-color: red;
     -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
 -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
 box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    }
</style>
  <body>
    <main>
        <div class="create_animal">
          <form action="/animal" method="post">
            <fieldset>
              <legend>Create a New Animal</legend>
              <label>
                SPECIES:<input class="species"
                  type="text"
                  name="species"
                  placeholder="enter species name"
                />
              </label>
              <label>
                LOCATION:<input class="location"
                  type="text"
                  name="color"
                  placeholder="enter animal location"
                />
              </label>
              <label>
                LIFE EXPECTANCY:<input class="le"
                  type="number"
                  name="life expectancy"
                  placeholder="enter life expectancy"
                />
              </label>
              <label> EXTINCT:<input class="extinct" type="checkbox" name="extinct" /> </label>
            </fieldset>
            <input type="submit" value="Create New Animal" />
          </form>
        </div>
      </main>
    </body>
  </html>