<!DOCTYPE html>
<html lang="en">
  <style>
    fieldset{
      background-color: gold;
    }
    .edit{
      border-radius: 30px;
     color:white;
     background-color: red;
     -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
 -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
 box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    }
  </style>
  <%- include("../partials/head1.ejs") %>
  <body>
    <main>
      <div clas="edit">
        <form action="/animal/<%=id %>?_method=PUT" method="post">
          <fieldset>
            <legend>Edit In New Information for the Animal Species: <%=animal.species %></legend>
            <label>
              SPECIES:<input
                type="text"
                name="species"
                placeholder="enter species name"
              />
            </label>
            <label>
              LOCATION:<input
                type="text"
                name="location"
                placeholder="enter animal location"
              />
            </label>
            <label>
              LIFE EXPECTANCY:<input
                type="number"
                name="lifeExpectancy"
                placeholder="enter life expectancy"
              />
            </label>
            <label>
              EXTINCT:<input type="checkbox" name="extinct" <%=animal.extinct?  "checked" : "" %> />
            </label>
          </fieldset>
          <input type="submit" value="Submit" />
        </form>
      </div>
    </main>
  </body>
</html>