<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <main>
      <div hx-boost>
        <%- include("./partials/header.ejs") %>
        <h2>Welcome to the Animal Creator Application</h2>
        <p>Please select one of the two options to begin the application</p>
        <a href="/register"><button>User Registration</button></a>
        <a href="/login"><button>Login</button></a>
      </div>
    </main>
  </body>
</html>